.NextDay {
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 0.8rem 0;
}

.NextDayDate{
  font-size: 0.85rem;
}

.NextDayTemperatures{
  background-color: black;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.5rem;
}
