:root {
  --brand-first-color: #d3ff3d;
  --brand-second-color: #22ddff;
  --brand-secondary: #0066ff;
}

body {
  background-image: linear-gradient(
    to right,
    var(--brand-first-color),
    var(--brand-second-color)
  );
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}
